<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Alberta Lakes</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">         
  </head>

  <body>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Alberta Lakes</h1>
          <p class="lead text-muted">Most of Alberta's lakes were formed during the last glaciation, about 12,000 years ago. There are many different types of lakes in Alberta, from glacial lakes in the Canadian Rockies to small shallow lakes in the prairies, brown water lakes in the northern boreal forest and muskeg, kettle holes and large lakes with sandy beaches and clear water in the central plains.

            Distribution of the lakes throughout the province of Alberta is irregular, with many water bodies in the wet regions in the northeast and Lakeland County, and very few in the dry southeast.</p>
          <p>
            <a href="https://kids.kiddle.co/List_of_lakes_of_Alberta#A" class="btn btn-primary my-2">More Information</a>
          </p>
          <img src="{% static 'Albertalakemaylayout.jpg' %}" height="800" />
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            {% for job in jobs.all %}

            <div class="col-md-4">
              <a href="{% url 'detail' job.id %}">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ job.image.url }}">
                <div class="card-body">
                  <p class="card-text">{{ job.summary }}</p>
                </div>
              </div>
              </a>
            </div>

            {% endfor %}
          </div>

        </div>
      </div>

    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/bootstrap.js' %}" ></script>
    <script src="{% static 'jquery-3.3.1.min.js' %}" ></script>
  </body>
</html>
